{% extends 'posts/layout.html' %}
    {% block content %}
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">
              {{post.body}}
            </p>
            <a href="#" class="card-link">
              {{post.created_at}}
            </a>
          </div>
        </div>
        <br>
        <br>
        <a href="/posts" class="btn btn-success">Back</a>
        <br>
        <br>
    {% endblock  %}
