{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Francis kiryowa Blog</title>
  </head>
  <body>
    <div class="container">
        <h1>Francis Kiryowa Blog</h1>
        {% block content%}

        {% endblock %}
         <br>
         <a class="btn btn-success" href="/admin">Admin Login</a>
    </div>
   


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script href="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script href="{% static 'js/popper.min.js' %}"></script>
    <script href="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>